<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seven seven</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//sevensevencolombia.vteximg.com.br/arquivos/sevensevenMain.css" rel="stylesheet" type="text/css" />
    <script>
        var data = {{JSON.stringify(data)}};

        $(document).ready(function(){
            $('.thanks h1').html(data.error);
            if(data.data){
                var li_data = '<ul>';
                $.each(data.data, function(k, v){
                    li_data += "<li>" + k +": "+v +"</li>";
                });

                li_data+="</ul>";
                li_data+="</br> <span>Si deseas cambiar la selección deberas hacerlo comunicandote con Servicio al Cliente: 01 8000 423887 </span>";

                $('.thanks h3').html(li_data);
            }
        });



    </script>

    <style>
        .thanks_background{
            background: #f1f1f1;
            width: 100%;
            position: relative;
            padding: 50px;color: #FFF;
        }
        .thanks_background .thanks{
            width: 95%;
            max-width: 1200px;
            height: 500px;
            background:#000;
            margin:auto;
            padding: 70px 20px 0 20px;
            position: relative;
            text-align: center;
        }
        .thanks_background h1{
            color: #fff;
            letter-spacing: 2px;
            font-size:30px;
            font-family: 'Poppins-Light';
        }
        .thanks_background hr{
            width: 100%;
            max-width: 550px;
            margin-top:30px ;
            height: 1px;
            border: 0.3px;
            background: #fff;
        }
        .thanks_background h3 {
            color:#fff;
            font-family: 'Poppins-Light';
            letter-spacing: 2px;
            font-size:1rem;
            margin:60px 0 60px 0 ;
        }
        .thanks_background a{
            color:#fff;
            font-family: 'Poppins-Light';
            font-size:0.9rem;
            margin-top:125px;
            letter-spacing: 1px;
        }
        .thanks_background a:hover{
            color:#4f4d65;
        }
        @media only screen and (max-width: 767px) {
            .thanks_background h1{
                font-size:22px;
            }
            .thanks_background h3{
                font-size: 0.8rem;
                margin:40px 0 80px 0 ;
            }
            .thanks_background hr{
                width: 100%;
                max-width: 430px;
            }
        }
    </style>
</head>
<body class="homeNew17">
<header>
    <div class="headerNew17">
        <div class="box-header">
            <div class="box-logo"><a href="http://www.sevenseven.com/" title="SEVEN SEVEN ropa de moda"><img alt="Logo Seven Seven" src="http://sevensevencolombia.vteximg.com.br/arquivos/logoSevenSeven.png"></a></div>
        </div>
    </div>
    <div class="promValorMobile">
        <div>
            <p>
                LíNEA DE ATENCIÓN: 01 8000 423887
            </p>
        </div>
        <div>
            <p>
                ASESORÍA VENTA TELEFÓNICA: 350 316 7950
            </p>
        </div>
        <div>
            <p>
                ENVÍOS GRATIS POR COMPRAS SUPERIORES A $90.000
            </p>
        </div>
        <div>
            <p>
                DEVOLUCIÓN GRATIS
            </p>
        </div>
    </div>
    <div class="staticHeaderMobile17">
        <div class="tiendasHeader"><a href="http://www.sevenseven.com/tiendas" title="Tiendas SEVEN SEVEN"><img src="http://sevensevencolombia.vteximg.com.br/arquivos/localizador-ico-17.png"></a></div>
        <div class="box-logoMobile"><a href="http://www.sevenseven.com/" title="SEVEN SEVEN ropa de moda"><img alt="Logo Seven Seven ropa de moda" src="http://sevensevencolombia.vteximg.com.br/arquivos/logoSevenSeven.png"></a></div>
        <div class="box-cart">
            <div class="openSearchMobile"><img src="http://sevensevencolombia.vteximg.com.br/arquivos/iconSearch.png"></div>
            <div class="cartMobile">
                <div class="subCartMobile">
                    <img src="http://sevensevencolombia.vteximg.com.br/arquivos/carrito-ico-17.png">
                    <a href="http://www.sevenseven.com/checkout" title="Checkout">
                        <div class="portal-totalizers-ref">
                            <div class="amount-items-in-cart">
                                <div class="cartInfoWrapper">
                                    <span class="title"><span id="MostraTextoXml1">Resumo do Carrinho</span></span>
                                    <ul class="cart-info">
                                        <li class="amount-products"><strong><span id="MostraTextoXml2">Total de Produtos:</span></strong> <em class="amount-products-em">0</em></li>
                                        <li class="amount-items"><strong><span id="MostraTextoXml3">Itens:</span></strong> <em class="amount-items-em">0</em></li>
                                        <li class="amount-kits"><strong><span id="MostraTextoXml4">Total de Kits:</span></strong> <em class="amount-kits-em"></em></li>
                                        <li class="total-cart"><strong><span id="MostraTextoXml5">Valor Total:</span></strong> <em class="total-cart-em">$ 0,00</em></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="box-search-mobile">
        <div class="search">

            <fieldset class="busca">
                <legend>Buscar no site</legend>
                <label>Buscar</label>
                <select id="ftDeptf2bb3a1fa27e4225ab8d4c988b7879d0">
                    <option value="">Todo o site</option>
                    <option value="1">Ropa Mujer</option>
                    <option value="19">Ropa Hombre</option>
                    <option value="36">Tipo</option>
                    <option value="37">Tipo</option>
                    <option value="47">Gifcard</option>
                </select>
                <input type="hidden" id="ftIdxf2bb3a1fa27e4225ab8d4c988b7879d0" value=""><input id="ftBoxf2bb3a1fa27e4225ab8d4c988b7879d0" class="fulltext-search-box ui-autocomplete-input" type="text" size="20" accesskey="b" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true"><input id="ftBtnf2bb3a1fa27e4225ab8d4c988b7879d0" type="button" value="Buscar" class="btn-buscar">
            </fieldset>
            <div class="closeSearchMobile">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="menuMobile17">
        <nav class="navMobile">
            <div style="display:none;" id="selectMenuFlehca"></div>
            <ul>
                <li>
                    <h2 class="DespMujer">MUJER</h2>
                </li>
                <li>
                    <h2 class="DespHombre">HOMBRE</h2>
                </li>
                <li>
                    <h2 class="DespSale">SALE</h2>
                </li>
            </ul>
            <li class="mujer-mobile">
                <ul>
                    <li class="newArrivals"><a href="http://www.sevenseven.com/newArrivals-mujer?O=OrderByReleaseDateDESC" title="Nueva ropa de moda para mujer">
                        New Arrivals
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/blusas?O=OrderByReleaseDateDESC" title="Compra blusas de moda para mujer">
                        Blusas
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/camisetas?O=OrderByReleaseDateDESC" title="Compra camisetas para mujer">   Camisetas
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/sacos?O=OrderByReleaseDateDESC" title="Compra sacos para mujer">
                        Sacos
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/chaquetas?O=OrderByReleaseDateDESC" title="Compra chaquetas para dama">    Chaquetas
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/vestidos?O=OrderByReleaseDateDESC" title="Compra vestidos largos y cortos para mujer">
                        Vestidos
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/faldas?O=OrderByReleaseDateDESC" title="Compra faldas de moda para mujer">
                        Faldas
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/pantalones?O=OrderByReleaseDateDESC" title="Compra pantalones de moda para mujer">
                        Pantalones
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/jeans?O=OrderByReleaseDateDESC" title="Compra jeans para dama">
                        Jeans
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/leggings?O=OrderByReleaseDateDESC" title="Compra pantalones leggings para dama">
                        Leggings
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/shorts?O=OrderByReleaseDateDESC" title="Compra short para mujer">
                        Shorts
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/active?O=OrderByReleaseDateDESC" title="Compra ropa deportiva para mujer"> Active
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/accesorios?O=OrderByReleaseDateDESC" title="Compra accesorios para mujer"> Accesorios
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/zapatos?O=OrderByReleaseDateDESC" title="Compra zapatos de moda para mujer">
                        Zapatos
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-mujer/playa?O=OrderByReleaseDateDESC" title="Compra ropa de playa para mujer">   Playa
                    </a>
                    </li>
                </ul>
            </li>
            <li class="hombre-mobile">
                <ul>
                    <li class="newArrivals"><a href="http://www.sevenseven.com/newArrivals-hombre?O=OrderByReleaseDateDESC" title="Nueva ropa de moda para hombre">New Arrivals
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-hombre/camisetas?O=OrderByReleaseDateDESC" title="Compra camisetas estampadas y con diseño para hombre">Camisetas
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-hombre/camisas?O=OrderByReleaseDateDESC" title="Compra camisas para hombre">Camisas
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-hombre/polos?O=OrderByReleaseDateDESC" title="Compra camisetas tipo polo para hombre">Polos
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-hombre/sacos?O=OrderByReleaseDateDESC" title="Compra sacos para hombre">Sacos
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-hombre/chaquetas?O=OrderByReleaseDateDESC" title="Compra chaquetas para hombre">Chaquetas
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-hombre/pantalones?O=OrderByReleaseDateDESC" title="Compra pantalones para hombre">Pantalones
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-hombre/jeans?O=OrderByReleaseDateDESC" title="Compra Jeans para hombre">Jeans
                    </a>
                    </li>
                    <!--<li>
                       <a href="http://www.sevenseven.com/ropa-hombre/jeans?O=OrderByReleaseDateDESC" title="Compra jeans para hombre">Jeans
                       </a>
                       </li>-->
                    <li><a href="http://www.sevenseven.com/ropa-hombre/bermudas?O=OrderByReleaseDateDESC" title="Compra bermudas para hombre">Bermudas
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-hombre/interior?O=OrderByReleaseDateDESC" title="Compra boxers para hombre">Interior
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-hombre/medias" title="Compra medias para hombre">Medias
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-hombre/active?O=OrderByReleaseDateDESC" title="Compra ropa deportiva para hombre">Active
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/ropa-hombre/zapatos?O=OrderByReleaseDateDESC" title="Compra zapatos casuales para hombre">Zapatos
                    </a>
                    </li>
                </ul>
            </li>
            <li class="sale-mobile">
                <ul>
                    <li><a href="http://www.sevenseven.com/Sale-Mujer?O=OrderByBestDiscountDESC" title="Compra ropa de moda para mujer en descuento">Mujer
                    </a>
                    </li>
                    <li><a href="http://www.sevenseven.com/Sale-Hombre?O=OrderByBestDiscountDESC" title="Compra ropa de moda para hombre en descuento">Hombre
                    </a>
                    </li>
                    <li><a style="color:red !important;" href="http://www.sevenseven.com/Sale" title="Compra ropa de moda en descuento">SALE
                    </a>
                    </li>
                </ul>
            </li>
        </nav>
    </div>
</header>
<section class="mainContent thanks_background">
    <div class="thanks">
        <h1>¡Muchas gracias por tu colaboración!</h1>
        <hr/>
        <h3>Tu caso será resuelto en los siguientes 4 días hábiles.</h3>
        <a href="http://www.sevenseven.com">ir a Seven Seven ></a>
    </div>

</section>
<footer>
    <div class="footerNew17">
        <div class="boxLinks">
            <div class="boxSecFooter"></div>
        </div>
        <div class="box-linksInteres">
            <div class="box-divisionMenu">
                <ul>
                    <li class="submenu-links">
                        <h2>LINKS DE INTERÉS</h2>
                        <ul>
                            <li><a href="http://www.sevenseven.com/links-interes/quienes-somos" title="Quiénes somos en Seven Seven">Quiénes somos </a></li>
                            <li><a href="http://www.sevenseven.com/links-interes/preguntas-frecuentes" title="Preguntas frecuentes en Seven Seven">Preguntas Frecuentes</a></li>
                            <li><a href="http://www.sevenseven.com/links-interes/politicas-terminos-condiciones" title="Póliticas, términos y condiciones en Seven Seven">Póliticas, términos y condiciones</a></li>
                            <li><a href="http://www.sevenseven.com/links-interes/mapa-sitio" title="Mapa del sitio en Seven Seven">Mapa del Sitio</a></li>
                        </ul>
                    </li>
                    <li class="submenu-links">
                        <h2>CONTÁCTANOS</h2>
                        <ul>
                            <li><a href="http://www.sevenseven.com/links-interes/preguntas-frecuentes" title="Servicio al cliente en Seven Seven">Servicio al cliente</a></li>
                            <li><a href="http://www.sevenseven.com/links-interes/preguntas-frecuentes" title="Compras online en Seven Seven">Compras Online</a></li>
                            <li><a href="http://www.sevenseven.com/links-interes/preguntas-frecuentes" title="Cambios y devoluciones de compras online en Seven Seven">Cambios y Devoluciones</a></li>
                            <li><a href="http://www.sevenseven.com/links-interes/preguntas-frecuentes" title="Pick up store. Compra online recoje en tienda">Shop online, pick up store</a></li>
                            <li><a href="http://www.sevenseven.com/links-interes/preguntas-frecuentes" title="Despacho y entrega en Seven Seven">Despacho y entrega</a></li>
                        </ul>
                    </li>
                    <li class="submenu-links">
                        <h2>MEDIOS DE PAGO</h2>
                        <ul>
                            <li><img src="http://sevensevencolombia.vteximg.com.br/arquivos/medio-pago-17_03.png" alt="Medios de pago en Seven Seven"></li>
                        </ul>
                    </li>
                    <li class="submenu-links">
                        <h2>SITIO SEGURO</h2>
                        <ul>
                            <li><img style="width:70%;" src="http://sevensevencolombia.vteximg.com.br/arquivos/sitio-seguro-17_03.png"></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="boxLegal">
            <div class="razonSocial">
                <p>Razón Social: Pash S.A.S - Nit. 860.503.159-1 - Calle 18a # 69b - 06</p>
                |
                <a href="http://www.sevenseven.com/links-interes/politicas-terminos-condiciones" title="Póliticas, términos y condiciones">Políticas, Términos y Condiciones</a> |
                <a href="http://www.sevenseven.com/links-interes/mapa-sitio" title="Mapa del sitio">Mapa del sitio</a>
            </div>
            <div class="derechos">
                <p>Todos los derechos reservados Seven·Seven 2016 | Empowered by</p>
                <a target="_blank" href="http://www.vtex.com.br" title="Vtex"><img src="http://sevensevencolombia.vteximg.com.br/arquivos/logoVtexFooter.png" alt="Logo Vtex"></a>
            </div>
        </div>
        <div class="popup contFormZendesk" style="display:none;">
            <div class="headerContact">
                <span class="close">x</span>
                <h3>CONTÁCTANOS</h3>
            </div>
            <div id="contactForm" name="contactForm">
                <input type="text" placeholder="Nombre *" id="z_name"><input type="text" placeholder="Email *" id="z_mail"><input type="text" placeholder="Telefono *" id="z_phone"><input type="text" placeholder="Tema *" id="z_subject">
                <textarea id="z_description" placeholder="Solicitud *"></textarea>
                <div class="textoObligatorio"><span>* Todos los campos son obligatorios</span></div>
                <input type="button" value="ENVIAR" onclick="zendesk.sendInfo();" class="btFormEnviar btn">
                <div id="messages_form" class="error_form"></div>
            </div>
            <div class="mensajeResultado" style="display:none;">
                <h4>Gracias por contactarte</h4>
                <p>Pronto tendrás información sobre tu solicitud por parte de uno de nuestros asesores.</p>
            </div>
        </div>
    </div>
</footer>

<div class="formulario-light-box">
    <div class="lightbox-mail-descuento" style="display:none;">
        <div class="contenedor-mail-descuento">
            <div class="close">x</div>
            <div class="content-suscripcion">
                <img src="http://sevensevencolombia.vteximg.com.br/arquivos/LIGHTBOXAgostoSuscription.png" alt="Suscripcion Seven Seven">
                <div class="Boxbtns">
                    <a class="btnSI" href="#" title="Suscribirme">RECIBIR <br> MI DESCUENTO</a>
                    <a class="btnNO" href="#" title="No suscribirme"> NO, GRACIAS</a>
                </div>
            </div>
            <div class="content-mail-descuento">
                <img src="http://sevensevencolombia.vteximg.com.br/arquivos/LIGHTBOXAgosto.jpg" alt="Descuentos Seven Seven">
                <div class="formulario-respuesta" style="display:none;">
                    Los datos han sido enviados.
                </div>
                <!--end form-respuesta-->
                <div class="formulario-descuento">
                    <div class="formulario">
                        <input value="" id="nombre" class="form-control" type="text" name="nombre" placeholder="NOMBRES">
                        <input value="" id="apellido" class="form-control" type="text" name="apellido" placeholder="APELLIDOS">
                        <div class="fecha-genero-formulario-descuento">
                            <select id="genero" class="form-control">
                                <option value="">GENERO</option>
                                <option value="femenino">FEMENINO</option>
                                <option value="masculino">MASCULINO</option>
                            </select>
                            <label>Fecha de nacimiento</label>
                            <select id="day"></select>
                            <select id="month"></select>
                            <select id="year"></select>
                            <input type="text" id="nacimiento" disabled="true" style="display:none;">
                        </div>
                        <input id="email" class="form-control" type="text" name="email" placeholder="CORREO ELECTRÓNICO">
                        <div class="datos-personales-formulario">
                            <input value="" type="checkbox" class="form-control" name="privacidad" id="privacidad"> He leído y acepto la <a href="http://www.sevenseven.com/links-interes/politica-tratamiento-datos-personales" title="Política de tratamiento de datos personales">Ley de Protección de Datos Personales</a>
                        </div>
                        <button id="send_suscription">ENVIAR</button>
                    </div>
                </div>
            </div>
            <div class="content-agradecimiento">
                <img src="http://sevensevencolombia.vteximg.com.br/arquivos/LIGHTBOXAgostoagradecimiento.png" alt="Gracias por tu suscripción">
            </div>
        </div>
    </div>

</div>
</body>
</html>