<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patprimo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="http://patprimo.vteximg.com.br/arquivos/patprimoMain.css" rel="stylesheet" type="text/css" />
</head>

<body class="homeNew">
<header><div class="headerNew"><div class="HeadContainer"><div class="box-logo"><a href="//patprimo.com/" title="Ropa de Moda PatPrimo"><img alt="Logo Patprimo" src="http://patprimo.vteximg.com.br/arquivos/LOGO2017.png"></a></div></div></div></header>

<section class="mainContent" >
    <div clas="iframe" style="margin:0px;padding:0px;overflow:hidden;     height: 800px;"></div>
    <iframe id="gforms" src="https://docs.google.com/forms/d/e/1FAIpQLScgwQr15xAb3apPsEiVdy-BCe1DDR4YP-uHjxFmge7COfHNzQ/viewform?embedded=true"  frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" height="100%" width="100%">Cargando Formulario...</iframe>


</section>

<footer><div class="contentFooterNew"><div class="footerSup">
    <div class="boxRedes" itemscope="" itemtype="http://schema.org/Organization"><ul><li><h3>SÍGUENOS EN:</h3></li><link itemprop="url" href="http://www.patprimo.com"><li><a target="_blank" itemprop="sameAs" href="https://www.facebook.com/PATPRIMO.OFICIAL?fref=ts"><img src="http://patprimo.vteximg.com.br/arquivos/ico-facebook-17.png" alt="Patprimo en Facebook"></a></li><li><a target="_blank" itemprop="sameAs" href="https://www.instagram.com/patprimo1957/"><img src="http://patprimo.vteximg.com.br/arquivos/ico-instagram-17.png" alt="Patprimo en Instagram"></a></li><li><a target="_blank" itemprop="sameAs" href="https://www.linkedin.com/company/patprimo"><img src="http://patprimo.vteximg.com.br/arquivos/ico-link-17.png" alt="Patprimo en Linkedin"></a></li></ul></div></div><div class="footerInf"><div class="footerLinks"><h2>
    SOBRE PATPRIMO
</h2><ul><li><a href="//patprimo.com/links-interes/trabaja-con-nosotros">
    TRABAJA CON NOSOTROS
</a></li><li><a href="//patprimo.com/links-interes/historia-patprimo">
    NUESTRA HISTORIA
</a></li><li><a href="">
    CAMPAÑA
</a></li></ul></div><div class="footerLinks"><h2>
    TIENDAS
</h2><ul><li><a href="//patprimo.com/tiendas">
    LOCALIZADOR DE TIENDAS
</a></li><li><a href="#" onclick="zendesk.showForm();" class="contactoEnlace">CONTACTO</a></li></ul></div><div class="footerLinks"><h2>
    ATENCIÓN AL CLIENTE
</h2><ul><li><a href="//patprimo.com/links-interes/preguntas-frecuentes">
    PREGUNTAS FRECUENTES
</a></li><li><a href="//patprimo.com/links-interes/politicas-terminos-condiciones">
    ENVÍO Y DEVOLUCIONES
</a></li></ul></div><div class="footerLinks"><h2>
    AVISO LEGAL Y COOKIES
</h2><ul><li><a href="//patprimo.com/links-interes/politicas-terminos-condiciones">
    TÉRMINOS Y CONDICIONES
</a></li><li><a href="//patprimo.com/links-interes/politicas-terminos-condiciones">
    POLÍTICA DE COMPRA
</a></li></ul></div><div class="footerLinks"><h2>
    MEDIOS DE PAGO
</h2><ul><li><img src="http://patprimo.vteximg.com.br/arquivos/pagocon.png" alt=""></li></ul></div></div><div class="boxLegal"><div class="razonSocial"><p>Razón Social: Pash S.A.S - Nit. 860.503.159-1 - Calle 18a # 69b - 06 -  01 8000 423894</p> |
    <a href="//patprimo.com/links-interes/mapa-sitio">Mapa del sitio</a></div><div class="derechos"><p>Todos los derechos reservados Patprimo 2016 | Empowered by</p><a target="_blank" href="http://www.vtex.com.br"><img src="http://patprimo.vteximg.com.br/arquivos/logoVtex.png" alt="Logo Vtex"></a></div></div>
</body>
</html>